

body, html {
    height: 100%;
    margin: 0;
    background-image: url(doc/00.jpg.png) ;
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position-y: bottom 50px;
    background-attachment: fixed;
    background-position: top;
  }

header{
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #fbd546;
    background: #000000;
    border-top: 20px #fbd546;
    display: inline-block;
}

.logo{
    color: rgb(255, 255, 255);
    font-family:ChunkFive ;
    font-size: 24px;
    padding: 0 0 0 14%;
    margin-top: 16px; 
    margin-bottom: 0px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;   
}
.textlogo{
    
    font: medium;
    color: #fbd546;
    font-size: 13px;
    padding: 0 0 0 14%;
    margin-top: 0px;
    letter-spacing: -0.7px;
}

.menu01{

    background-color:rgba(0, 0, 0, .2) ;
    height: 33px;
    text-align: center;
    margin: auto;
    font-family: Raleway;
    font-style: medium;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding-top: 17px;
  
}

.hero{
    text-shadow: rgba(68, 68, 68, .4) 1px 1px 2px ;
}

#menutext01{
    margin: 0 10px 0 10px;
    padding:  0 20px 0 20px;
}
#menutext01:hover{
    color: #fbd546;
    cursor: pointer;
}


#herotext01{
    font-family: raleway;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    margin-bottom: 15px;
}

#herotext02{
    font-family: raleway;
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    margin-top: -10px;
    padding-top: 0px;
}

#search{
    position: absolute;
    float: left;
    margin: -8px 100px ;
    
}

.searchbar{
    text-align: center;
}

#searchb{
    height: 40px;
    width: 500px;
    border-style: solid;
    /* border-right: none; */
    box-shadow: rgb(36, 41, 46) 1px;
    border-radius: 10px;
    margin: 0 0 0 5px;
}

#buttonsearch{
    background-color: #f25e4f;
    width: 120px;
    height: 42px;
    color: white;
    border-radius: 6px 8px 8px 6px;
    border-color: #da6f63;
    font-family: raleway;
    position: absolute;
    float: right;
    margin: 2px 0 0 -122px;
    /* left: 807px;
    top: 353px; */
}
#buttonsearch:hover{cursor: pointer;}

.Testmoniels{
    margin-top: 10%;
    background-color: #ebebeb;
    height: 1560px;
    background-size: 100%;
    font-family: raleway;
    text-align: center;
    color: #222222;
    border-top: 4px solid #222222;
    /* padding-top: 50px;
    margin-bottom: 15px;
    font-size: 20px; */
}

h1{
    padding-top: 45px;
}
#text{
    margin: 0 28%;
    font-size: 12px;
    color: #666666;
}

.menu02{
    font-size: 14px;
    border-bottom: 1px solid #666666 ;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
    width: 680px;
}

#menutext02{
    margin: 0 15px ;
    /* padding:  0 20px 0 20px; */
}   
#menutext02:hover{
    color: #f25e4f;
    cursor: pointer;
    text-decoration: underline;
}
#menutext021{
    /* color: olive; */
    margin: 0 15px 0 -10px ;
}

span{cursor: pointer;}

/* .articls{
    background-image: url(doc/01.png) ;
    border-bottom: solid;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border: #222222 solid 2px;
    border-radius: 10px;
    height: 370px;
    width: 305px;
}

#bararticl{
    text-align: justify;
    color: #666666;
    font-size: 12px;
    margin:302px 0 0 10px ;
} */


/* #bararticl{
    border: #222222 solid 1px;
                     background-color: white;
    height: 70px;
    width: 305px;
    border-radius: 0px 0 10px 10px;
    font-size: 12px;
    color: #666666;
    text-align: justify;
                    padding:20px 0 0px 15px ;
                    margin: -5px 0 0 0;
}

h2{
    color: #333333;
    font-size: 14px;
    margin:0px 0 0px -3px ;
}
.icons{
    display: inline-block;
}

#icon01{ 
    padding-top: 5px;
    opacity: .8;}
#icon02{opacity: .8;}

#vues{
    margin: 5px 0 0 10px;
}
#down{
}  */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    white-space: 10px;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 60px;
}

.bar{margin: 0 0px;}

#image01{
    background-image: url(doc/01.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}

#image02{
    background-image: url(doc/02.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image03{
    background-image: url(doc/03.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image04{
    background-image: url(doc/04.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image05{
    background-image: url(doc/05.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image06{
    background-image: url(doc/06.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image07{
    background-image: url(doc/07.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image08{
    background-image: url(doc/08.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}
#image09{
    background-image: url(doc/09.png);
    background-repeat: no-repeat;
    background-color: #222222;
    border-radius: 10px;
    height: 274px;
    width: 305px;
}

#image01:hover{
    mask-image: linear-gradient(to top, #fbd546 0%,rgba(251, 213, 70, 0) 20%)
    background-color: #fbd546;
    /* background: linear-gradient(to top, #fbd546 0%,rgba(251, 213, 70, 0) 20%) */
}



.articls{
    background-color: white;
    height: 370px;
    width: 305px;
    border-radius: 10px;
    /* border: #222222 solid 1px; */
    box-shadow: rgba(0, 0, 0, .2) 1px 1px 3px;
    scale: .9;
}
.articls:hover{
    
    border: #222222 solid 1px;
    transition: all .5s;
    
}

.icons{
    
}

#vues{
    text-align: left;
    margin: -2px 0 0 10px;
}
#vuesn{
    font-size: 12px;
    
}
#icon01{
    padding: 5px 0 0 0;
    opacity: .8;}


#down{
    text-align: right;
    margin: -15px 10px 0 0;
}

#downn{
    font-size: 12px;
}

#icon02{opacity: .8;}

#likes{
    text-align: right;
    margin: -50px 10px 0 0;
}

#likesn{
    font-size: 12px;
}

#icon03{opacity: .95;}



#bararticl{
    border: #222222 solid 1px;
    border-top: none;
                     /* background-color: white; */
    height: 97px;
    width: 288px;
    border-radius: 0px 0 10px 10px;
    font-size: 12px;
    color: #666666;
    text-align: justify;
    padding:5px 0 0px 17px ;
    margin: -5px 0 0 -1px;
                    
}
#bararticl:hover{
    border: none;
}
h2{
    color: #333333;
    font-size: 14px;
    margin:28px 0 0px -3px ;
}

.pagen{
    cursor: pointer;
    margin: -50px 0 0 20px;

}

#page{
    border: #f25e4f solid 2px;
    font-family: bebas;
    font-size: 16px;
    color: #f25e4f;
    border-radius: 50px;
    padding: 2px 9px;
    text-align: center;
}
#page:hover{
    background-color: #f25e4f;
    border: #f25e4f solid 2px;
    font-family: bebas;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    padding: 2px 9px;
    text-align: center;
}

.contactus{
    background-color: #333333;
    border-top: #fbd546 solid 6px;
    font-family: raleway;
    color: white;
    height: 320px;
    
}

.titlec{
    font-size: 20px;
    text-align: center;
    background-color: #fbd546;
    border-radius: 16px;
    height: 30px;
    width: 200px;
    margin: -22px auto 0 auto;
    padding-top: 8px;
    color: #333333;
    
}

#h3s{
    width: 80%;
    margin: auto;
    display: flex;
    margin: auto;
    margin-left: 20%;
    margin-top: 30px;
    text-decoration: none;
}
.text01{
    width: 15%;
}

.text02{
    width: 20%;
}

.text03{
    width: 25%;
}

.text04{
    /* width: 20%; */
}

#ulstyle{
    list-style-type: none;
    margin: auto 0 0 -20px;
}

#listyle{
    padding-bottom: 8px;
}
#listyle:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
#semail{
    margin: -12px 0;
}
#semail:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
#emailadresse{
    height: 30px;
    width: 250px;
    background-color: rgba(255, 255, 255, .1);
    border: rgba(121, 117, 117, 0.8) solid 1px;
    border-radius: 5px 8px 8px 5px;
    color: white;
}
#send{
    background-image: url(doc/Icons/entre.png);
    color: yellow;
    float: right;
    height: 33px;
    weight: 3px;
    padding-left: 26px;
    padding-bottom: 33px;
    border-radius: 8px;
    /* border: #f25e4f solid 2px; */
    border: none;
    position: absolute;
    margin: 0 -0 0 -30px;
    cursor: pointer;
}
#rs{
    margin: 8px 2px;
    cursor: pointer;
}


footer{
    background-color: #222222;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 12px;
    font-family: raleway;
    font-size: 11px;
    font-weight: 400;
    color: #999999;

}













